/.cph
/bai1.bin
/bai10.bin
/bai11.bin
/bai12.bin
/bai12.exe
/bai2.bin
/bai3.bin
/bai4.bin
/bai4.exe
/bai5.bin
/bai6.bin
/bai7.bin
/bai8.bin
/bai9.bin
/DT.INP
/DT.OUT
/heello.cpp
/maxflow.bin
/maxflow.exe